@model CIS526_FinalAssignment.Models.Task
@{
    ViewBag.Title = "SolveTask";
}

<h2>SolveTask</h2>

<form name="input" action="/Task/SolveTask" method="post">
Enter Solution: <input type="text" name="solution">
@Html.HiddenFor(model => Model.ID) 
<input type="submit" value="Submit">
</form>

