@{
    ViewBag.Title = "SolveTask";
}

<h2>Solve Task</h2>

<form name="input" action="html_form_action.asp" method="get">
Enter Solution: <input type="text" name="user">
<input type="submit" value="Submit">
</form>

