@model CIS526_FinalAssignment.Models.Leaderboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="contentbox">
    <div class="liquid_100">
        @Html.Partial("LeaderboardDetailsPartial", Model)
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.ID }) |
            @Html.ActionLink("Back to Leaderboard List", "Index")
        </p>
    </div>
</div>
