@model IEnumerable<CIS526_FinalAssignment.Models.Leaderboard>

@{Layout = "~/Views/Shared/_Layout.cshtml";}

@{
    ViewBag.Title = "Leaderboards";
}

<h2>Leaderboards</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Path Name
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text">
                @Html.ActionLink(item.pathName, "Details", new { id = item.ID })
        </td>
    </tr>
}

</table>

