@model CIS526_FinalAssignment.Models.Leaderboard

<h2>@Html.DisplayFor(model => model.pathName)</h2>
<hr/>

<input id="boardId" hidden="true" value="@Model.ID" />
<table id="topTen">
  <tr>
    <th width="125px">
        Rank
    </th>
    <th width="300px">
        Player
    </th>
    <th width="175px">
        Score
    </th>
    <th width="200px">
    </th>
  </tr>
</table>
<table id="scoreboard">
    <th width="125px">
    </th>
    <th width="300px">
    </th>
    <th width="175px">
    </th>
    <th width="200px">
    </th>
</table>
<div style="text-align:center">
<button id="moreScores" align="center">Show More Scores</button>
</div>