@model CIS526_FinalAssignment.Models.Player


<input id="playerId" hidden="true" value="@Model.ID" />
<table style="margin-top: 5px" id="playerChanged">
  <tr>
    <th width="125px">
        Username
    </th>
    <th width="300px">
        Total Score
    </th>
    <th width="175px">
        Frozen?
    </th>
  </tr>
</table>
<table id="playerChanged">
    <th width="125px">
    </th>
    <th width="300px">
    </th>
    <th width="175px">
    </th>
</table>