@model CIS526_FinalAssignment.Models.Player

<h2>@Html.DisplayFor(model => model.username)</h2>
<hr/>

<input id="playerId" hidden="true" value="@Model.ID" />

<table style="margin-top: 50px" id="playerTask">
  <tr>
    <th width="125px">
        Task Name
    </th>
    <th width="300px">
        Points Earned
    </th>
    <th width="175px">
        Completion Time
    </th>
  </tr>
</table>
<table id="playerTask">
    <th width="125px">
    </th>
    <th width="300px">
    </th>
    <th width="175px">
    </th>
</table>