@model CIS526_FinalAssignment.Models.PathScore

<tr>
       <td class="text">@Html.DisplayFor(model => model.rank)</td><td>@Html.DisplayFor(model => model.player.username)</td><td>@Html.DisplayFor(model => model.score)</td>
</tr>
