<ul>
@if (Request.IsAuthenticated) {
        <li>Hello, @Html.ActionLink(User.Identity.Name, "Details", "Player",  routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        using (Html.BeginForm("LogOff", "Player", FormMethod.Post, new { id = "logoutForm" })) { @Html.AntiForgeryToken() }
} else {
        <li>@Html.ActionLink("Log in", "LogOn", "Player", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
</ul>
